<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Clinica médica</title>
</head>
<body>
    <div id="encabezado">
        <div id="menú">
            <ul>
                <li><a href="index.html" title="Página principal">INICIO</a></li>
                <li><a href="especialidades.html" title="Especialidades de la Clinica">ESPECIALIDADES</a></li>
                <li><a href="servicios.html" title="Servicios médicos">SERVICIOS</a></li>
                <li><a href="quienes somos.html" title="Sobre nosotros">NOSOTROS</a></li>
                <li><a href="contactanos.html" title="Nuestros datos">CONTÁCTANOS</a></li>
                <li><a href="pedir cita.html" title="Citas">SOLICITAR CITA</a></li>
            </ul> 
        </div>
    </div>
    <br><H1>ESPECIALIDADES</H1>
        <br>
        <div id="info">
            <table>
  <tr>
    <td>Hematología</td>
    <td>Medicina interna</td>
    <td>Odontología pediátrica</td>
    <td>Ginecología y Obstetricia</td>
  </tr>
  <tr>
    <td><img src="img/hema.jpeg"width="100%" height="10%"></td>
    <td><img src="img/medicina inter.jpeg" width="100%" height="10%"></td>
    <td><img src="img/odontologia.jpeg" width="100%" height="10%"></td>
    <td><img src="img/gine.jpeg" width="100%" height="10%"></td>
  </tr>
            </table>