<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css') }}">
    <title>Clinica médica</title>
</head>
<body>
    <div id="encabezado">
        <div id="menú">
            <ul>
                <li><a href="index.html" title="Página principal">INICIO</a></li>
                <li><a href="registrar_pacientes.html" title="PACIENTES">PACIENTES</a></li>
                <li><a href="servicios.html" title="Servicios médicos">SERVICIOS</a></li>
                <li><a href="quienes_somos.html" title="Sobre nosotros">NOSOTROS</a></li>
                <li><a href="contactanos.html" title="Nuestros datos">CONTÁCTANOS</a></li>
                <li><a href="pedir_cita.html" title="Citas">SOLICITAR CITA</a></li>
            </ul> 
        </div>
    </div>
    <h1>¿QUIÉNES SOMOS?</h1>
    <img src="../static/img/nosotros.jpg" width="100%" height="600px"> 
    <div class="nosotros">
        <p>Ofrecemos calidad de vida a sus pacientes a través de una completa y sólida estructura hospitalaria, recursos humanos calificados y tecnología de vanguardia, ofreciendo los mejores servicios con la más alta calidad.
            <br>Damos especial énfasis a la prevención y al aumento de capacidades individuales y colectivas, para que los beneficiarios de nuestras acciones, se organicen socialmente, estén preparados y sean resilientes ante amenazas y adversidades.
        </p>
        <h3>Misión</h3><p>Colaborar para mejorar la salud y la calidad de vida de los ciudadanos, ofertando servicios sanitarios excelentes, con el paciente como centro de nuestra atención, y profesionales altamente cualificados, en un hospital privado con vocación docente e investigadora.</p>
        <h3>Visión</h3><p>Liderar la Transformación del Sistema Sanitario actual para asegurar su sostenibilidad, promoviendo la innovación e incorporando las nuevas tecnologías disponibles. Ser reconocidos como referentes a nivel nacional e internacional, desde la perspectiva asistencial, docente e investigadora.</p>
        <h3>Valores</h3><p>Nuestros valores son los pilares que sustentan nuestra forma de actuar, trabajar y hacer las cosas. Dicen cómo somos hoy y cómo vamos a ser en el futuro. Hablan sobre nuestra manera de entender la salud y nuestra relación con las personas. Nos hacen diferentes y únicos.</p>
        <br> 
    </div>
</body>
</html>