<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css') }}">
    <title>Clinica médica</title>
</head>
<body>
    <div id="encabezado">
        <div id="menú">
            <ul>
                <li><a href="index.html" title="Página principal">INICIO</a></li>
                <li><a href="registrar_pacientes.html" title="PACIENTES">PACIENTES</a></li>
                <li><a href="servicios.html" title="Servicios médicos">SERVICIOS</a></li>
                <li><a href="quienes_somos.html" title="Sobre nosotros">NOSOTROS</a></li>
                <li><a href="contactanos.html" title="Nuestros datos">CONTÁCTANOS</a></li>
                <li><a href="pedir_cita.html" title="Citas">SOLICITAR CITA</a></li>
            </ul> 
        </div>
    </div>
    <H1>SERVICIOS</H1>
    <table>
    <tr>
        <td>Radiología</td>
        <td>Enfermería</td>
        <td>Laboratorio</td>
        <td>Tomografía</td>
      </tr>
      <tr>
        <td><img src="../static/img/radiologia.jpg" width="80%" height="10%"></td>
        <td><img src="../static/img/enfermeria.jpg" width="80%" height="10%"></td>
        <td><img src="../static/img/laboratorio.jpg" width="40%" height="10%"></td>
        <td><img src="../static/img/tomogra.jpeg" width="100%" height="10%"></td>
      </tr>
      <tr>
        <td>Hospitalización</td>
        <td>Unidad de emergencias</td>
        <td>Quirofános</td>
        <td>Cuneros</td>
      </tr>
      <tr>
        <td><img src="../static/img/hospitalizacion.gif"width="80%" height="10%"></td>
        <td><img src="../static/img/unidad de emergencis.jpg" width="80%" height="10%"></td>
        <td><img src="../static/img/quirofano.jpg" width="50%" height="10%"></td>
        <td><img src="../static/img/cuneros.jpeg" width="100%" height="10%"></td>
      </tr>
    </table>
</body>