<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css') }}">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="register">
                <form action="{{url_for('logueo')}}" method="post">
                    <input required type="text" class="input" placeholder="nombre" name="nombre" id="nombre">
                    <br><br>
                    <input required type="password" class="input" placeholder="contraseña" name="contraseña" id="contraseña">
                    <br><br>
                    <button type="submit" class="boton">ENTRAR</button>
                    <br><br>
                    
                </form>
                <br>
                <a href="registrarse.html" class="register">REGISTRATE</a>
            </div>
        </div>
    </div>

    
</body>
</html>